<template>
    <template if:true={cart.cartItems}>
        <div class="panel panel-default panel-collapse collapse minicart-header-details">
            <div class="panel-body">
                <div class="my_cart mini_cart cc_mini_cart_header">
                    <div class="row cc_items">
                        <template for:each={cart.cartItems} for:item="cartItem">
                            <template if:true={cartItem.productName}>
                                <div key={cartItem.sfid} class="row cart-item-row">
                                    <div class="col-xs-8 cart-item-name">
                                        <div class="cc_prod_name">
                                            {cartItem.productName}
                                        </div>
                                        <div class="cart-item-quantity">
                                            {labelQuantity}: {cartItem.quantity}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 cart-item-total">
                                        {cartItem.itemTotalDisplay}
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                    <hr>
                    <div class="cart-summary">
                        <div class="row">
                            <div class="col-xs-12">{labelSubtotal}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12"><span class="cart-total">{cart.subTotalDisplay}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-default btn-go-to-cart" type="button">{labelCartNavigation}</button>
                    </div>
                </div>
            </div>
        </div>    
    </template>
    <template if:false={cart.cartItems}>
        <div class="panel panel-default panel-collapse collapse minicart-header-details">
            {labelNoCartItems}
        </div>
    </template>
</template>