.btn-go-to-cart{
    margin-top: 10px;
    width: 100%;
}
.cart-item-name{
    margin-right: -15px;
}
.cart-item-quantity{
    font-size: 11px;
}
.cart-item-row{
    margin-bottom: 10px;
}
.cart-item-total{
    text-align: right;
}
.cart-summary{
    font-size: 18px;
    text-align: center;
}
.minicart-header {
    position: relative;
    z-index: 2000;
}
.cc_items{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 450px;
}