/*******************************************************
 * CSS override for B2B Commerce.
 * Override any CSS provided by OOTB B2B Commerce below.
********************************************************/

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   CSS TABLE OF CONTENTS
   
   1.0 - Reset
   2.0 - Fonts
   3.0 - Globals
       3.1 - Utilities
       3.2 - Links and Buttons
       3.3 - Breadcrumbs
       3.4 - Panels
       3.5 - Tabs
       3.6 - Label and Badge
   4.0 - Color Palette
   5.0 - Header
   6.0 - Body
       6.1 - Category Tree
       6.2 - Stencil UI
       6.3 - Dropdown Menu
       6.4 - Carousel/Slider
       6.5 - Product List Page
       6.6 - Cart
       6.7 - Checkout
   7.0 - Footer
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/****************************************************************************
1.0 - Reset */

/****************************************************************************
2.0 - Fonts */

@font-face {
  font-family: "Art-DemiBold";
  src: url("../fonts/ArticulatCF-DemiBold.woff2") format("woff2"),
    url("../fonts/ArticulatCF-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Art-ExtraLightOblique";
  src: url("../fonts/ArticulatCF-ExtraLightOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-ExtraLightOblique.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Art-ThinOblique";
  src: url("../fonts/ArticulatCF-ThinOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-ThinOblique.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Art-HeavyOblique";
  src: url("../fonts/ArticulatCF-HeavyOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-HeavyOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Art-Light";
  src: url("../fonts/ArticulatCF-Light.woff2") format("woff2"),
    url("../fonts/ArticulatCF-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Art-Text";
  src: url("../fonts/ArticulatCF-Text.woff2") format("woff2"),
    url("../fonts/ArticulatCF-Text.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Art-Heavy";
  src: url("../fonts/ArticulatCF-Heavy.woff2") format("woff2"),
    url("../fonts/ArticulatCF-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Art-Thin";
  src: url("../fonts/ArticulatCF-Thin.woff2") format("woff2"),
    url("../fonts/ArticulatCF-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Art-ExtraBoldOblique";
  src: url("../fonts/ArticulatCF-ExtraBoldOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-ExtraBoldOblique.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Art-Medium";
  src: url("../fonts/ArticulatCF-Medium.woff2") format("woff2"),
    url("../fonts/ArticulatCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Art-ExtraBold";
  src: url("../fonts/ArticulatCF-ExtraBold.woff2") format("woff2"),
    url("../fonts/ArticulatCF-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Art-Bold";
  src: url("../fonts/ArticulatCF-Bold.woff2") format("woff2"),
    url("../fonts/ArticulatCF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Art-ExtraLight";
  src: url("../fonts/ArticulatCF-ExtraLight.woff2") format("woff2"),
    url("../fonts/ArticulatCF-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Art-MediumOblique";
  src: url("../fonts/ArticulatCF-MediumOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-MediumOblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Art-LightObliqu";
  src: url("../fonts/ArticulatCF-LightOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-LightOblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Articulat CF Demi";
  src: url("../fonts/ArticulatCF-DemiBoldOblique.woff2") format("woff2"),
    url("../fonts/ArticulatCF-DemiBoldOblique.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

body {
  color: #444;
  font-family: "Art-Text", sans-serif;
}

button,
input,
select,
optgroup,
textarea {
  color: #000;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Art-Bold";
}

h3,
h4,
h5,
h6 {
  font-family: "Art-Text";
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2.25rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.75rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1.25rem;
}

/****************************************************************************
3.0 - Globals */

/****************************************************************************
3.1 - Utilities */

html {
  scroll-behavior: smooth;
}

/*--- Minimum Content Height and margin ---*/
.contentBody {
  margin-top: 20px;
}

.overlay-padding .contentBody {
  min-height: 800px;
}

.cc_deskLayout {
  overflow: hidden;
}

/*--- Loading Spinner ---*/
.loader {
  border-radius: 100%;
  height: 40px;
  margin: 0 auto;
  position: relative;
  width: 40px;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #6d247d;
}

.loader:before {
  z-index: 100;
  animation: spin 1s infinite;
}

.loader:after {
  border: 10px solid #dfdcda;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--- override loading overlay ---*/
.overlay-padding {
  padding-top: 16px;
}

.overlay-hide {
  padding-top: 0;
}

.overlay-hide #overlay {
  cursor: initial;
}

.overlay-hide #overlay:after {
  height: 0;
}

#overlay {
  background-color: transparent;
  border-radius: 0;
  filter: alpha(opacity=100);
  height: 100%;
  left: 0;
  cursor: wait;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#overlay:after {
  animation: progress-bar-stripes 2s linear infinite;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  content: "";
  background-color: #6d247d;
  background-size: 40px 40px;
  float: left;
  font-size: 12px;
  height: 16px;
  line-height: 20px;
  text-align: center;
  transition: width 0.6s ease;
  width: 100%;
}

@keyframes overlay-progress {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*--- Form Fields ---*/
.form-control {
  font-size: initial;
  min-height: 36px;
}

input[type=checkbox].error {
    outline: 2px solid #a94442;
}

/*--- BUTTON LOADER ---*/
.btn-loader {
  overflow: hidden;
  position: relative;
}

.btn-loader:before,
.btn-loader:after {
  content: "";
  position: absolute;
}

.btn-loader:before {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 4px solid transparent;
  border-color: #fff #ccc #fff #ccc;
  margin: -10px 0 0 -10px;
  top: 50%;
  left: 50%;
  z-index: 100;
  animation: spin 1s infinite linear;
}

.btn-loader:after {
  background-color: #6e267b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/****************************************************************************
3.2 - Links and Buttons */
a {
  color: #0070d2;
  background-color: transparent;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #444;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: #444;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #444;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

.footer a {
  color: #fff !important;
}

.btn-default {
  background-color: #6e267b;
  border: 1px solid #6e267b;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-footer .btn-default {
  margin-bottom: 0;
}

.btn-default:hover {
  background-color: #fff;
  color: #6e267b;
  border-color: #6e267b;
}

.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover {
  border-color: #ddd;
  background-color: #ddd;
  color: #fff;
}

.btn-default.focus,
.btn-default:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 175, 229, 0.5);
  background-color: #6e267b;
  border: 1px solid #6e267b;
  color: #fff;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 161, 224, 0.25);
}

.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #007cad;
  border-color: #0073a0;
}

.search_button,
.cc_plus {
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  margin-bottom: 0;
}

.cc_minus {
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  margin-bottom: 0;
}

.dropdown-menu {
  margin-top: -2px;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu .cc_sort_option {
  border-radius: 0;
  margin-bottom: 0;
}

/****************************************************************************
3.3 - Breadcrumbs */
div#breadcrumb_desktop_container {
  position: relative;
}

.breadcrumb {
  background-color: transparent;
  padding: 8px 0;
}

/****************************************************************************
3.4 - Panels */
.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
}

/****************************************************************************
3.5 - Tabs */
.tab-content {
  border-width: 0 1px 1px 1px;
  border-color: #ddd;
  border-style: solid;
  padding: 10px 15px;
}

/****************************************************************************
3.6 - Label and Badge */
.label-default,
.badge {
  background-color: #6d247d;
}

label.error {
  color: #d9534f;
  font-weight: normal;
}

label.error:empty {
  display: none !important;
}

/****************************************************************************
4.0 - Color Palette */

body {
  background-color: #f9f9f9;
}

/****************************************************************************
5.0 - Header */

header .cc_header,
header .cc_header .cc_navbar-inverse {
  height: 40px;
}

/*--- Logo --- */
#cc_store_logo_img {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 33px;
  width: 100px;
  position: absolute;
}

#logoUrl {
  display: block;
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  z-index: 1001;
}

@media only screen and (max-width: 991px) {
  #logoUrl {
    position: relative;
    width: 768px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logoUrl {
    width: 970px;
  }
}

/*--- Menu Navigation --- */
.cc_navbar {
  background-color: #fff;
  border: none;
}

.navbar-toggle {
  border: none;
  float: left;
  margin-bottom: 11px;
  margin-top: 11px;
  padding: 9px 15px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

#navbar .navbar-nav li a {
  color: #444;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  #navbar {
    padding-left: 110px;
    padding-right: 210px;
  }
}

@media only screen and (min-width: 992px) {
  #navbar {
    padding-left: 130px;
    padding-right: 260px;
  }
}

.menu_container,
.menu_container .navbar {
  margin-bottom: 0;
  min-height: 54px;
}

@media (min-width: 992px) {
  .menu_container,
  .menu_container .navbar {
    min-height: 67px;
  }
}

.cc_navbar_form {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
}

/*--- hide phone menu item ---*/
#navbar ul > li:first-child {
  display: none;
}

/*--- Logout Link --- */
@media (max-width: 479px) {
  .loginoutsec {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    width: 68px;
  }
}

header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1050;
}

header .cc_menu_container {
  width: 100%;
}

header .cc_navbar-inverse {
  background-color: #ddd;
}

.cc_navbar_col_misc .header-spacer {
  display: none;
}

@media (max-width: 991px) {
  .cc_navbar_col_acct .header-spacer {
    display: none;
  }
}

/*--- Search ---*/
.cc_search_form {
  position: relative;
  z-index: 1001;
}

.cc_col_search {
  clear: both;
  padding: 0 15px;
  top: 12px;
}

.cc_col_search .cc_nav {
  position: relative;
  right: -65px;
}

.cc_navbar_col_acct {
  position: relative;
  float: right;
}

.col-md-5.col-xs-12.cc_navbar_col_acct {
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-5.col-xs-12.cc_navbar_col_acct {
    width: 65%;
  }
  #logoUrl {
    top: 16px;
  }
  #navbar .navbar-nav {
    margin: 10px -15px 7px -15px;
  }
  #navbar .navbar-default .navbar-nav > .open > a,
  #navbar .navbar-default .navbar-nav > .open > a:hover,
  #navbar .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
  }
  #navbar .dropdown-menu {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 0;
    border-top: 7px solid #6e267b;
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cc_col_search {
    right: 65px;
    width: inherit;
    top: 26px;
  }
}

@media only screen and (max-width: 991px) {
  .cc_col_search {
    right: 65px;
    width: inherit;
    top: 19px;
  }
  #searchText {
    width: 150px;
  }
  #logoUrl {
    top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #cc_store_logo_img {
    height: 30px;
    width: 90px;
  }
  #logoUrl {
    top: 12px;
    left: 40px;
  }
  .cc_col_search {
    right: 42px;
    width: 100%;
    top: 40px;
  }
  .cc_col_search .cc_nav {
    margin: 0 20px 0 120px;
    top: 7px;
  }
  #searchText {
    width: 100%;
  }
  #searchText:focus {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .cc_navbar_col_acct .cc_navbar-header {
    position: absolute;
    right: 25px;
    text-align: right;
    top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cc_navbar_col_acct .cc_navbar-header {
    margin-top: 8px;
  }
}

/****************************************************************************
6.0 - Body */

/****************************************************************************
6.1 - Category Tree */

.cc_categories_side_container {
  border: #ddd;
}

.cc_categories_side_container .panel {
  background-color: transparent;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cc_categories_side_container .panel:first-child {
  border-top: none;
}

.cc_categories_side_container .panel .panel-collapse .panel-body {
  padding: 0 0 0 15px;
}

.cc_categories_side_container.panel-group .panel + .panel {
  margin-top: 0;
}

/****************************************************************************
6.2 - Stencil UI */
/*--- EMPTY CONTAINER FOR CART PAGE ---*/
.cartContainer:empty {
  background-image: url(../images/cart-stencil.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 620px;
}

@media (min-width: 992px) {
  .cartContainer:empty {
    background-size: 100% auto;
    margin-bottom: 20px;
    min-height: 325px;
  }
}

/*--- EMPTY CONTAINER FOR CHECKOUT PAGE ---*/
@media (max-width: 991px) {
  .checkoutContent:empty {
    background-image: url(../images/generic-stencil.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
    margin-bottom: 20px;
    min-height: 860px;
  }
}

@media (min-width: 992px) {
  .checkoutContent:empty {
    background: url(../images/generic-stencil.svg);
    background-repeat: no-repeat;
    background-size: auto auto;
    min-height: 660px;
  }
}

/*--- EMPTY CONTAINER FOR GENERIC COMPONENTS ---*/
#categories-left-nav:empty,
[id^="ProductList"] + .deskLayout #categories-right-nav:empty,
[id^="ProductDetails"] + .deskLayout #categories-right-nav:empty,
.promotion-box-LeftNav:empty,
.splash-promo-Desktop:empty,
[id^="HomePage"] + .deskLayout .minicart:empty,
[id^="ProductList"] + .deskLayout .minicart:empty,
[id^="ProductDetails"] + .deskLayout .minicart:empty,
[id^="HomePage"] + .deskLayout .quick-order:empty,
[id^="HomePage"] + .deskLayout .promotion-box-RightNav:empty,
[id^="ProductList"]
  + .deskLayout
  #categories-right-nav:empty
  + .filterContainer:empty,
.container-user-info:empty,
.container-shipping:empty,
.container-order-review:empty,
.container-payment:empty {
  background-image: url(../images/generic-stencil.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  min-height: 300px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.cart-template:empty,
[id^="HomePage"] + .deskLayout .featured-prod:empty,
[id^="MyAccount"] + .deskLayout #MyAccount_navSection:empty {
  background-image: url(../images/generic-stencil.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  min-height: 600px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.productListContent:empty,
.prodDetailContainer:empty,
.acctmainSection:empty {
  background-image: url(../images/generic-stencil.svg);
  background-repeat: no-repeat;
  background-size: auto auto;
  min-height: 900px;
  margin-bottom: 20px;
  border-radius: 4px;
}

/****************************************************************************
6.3 - Dropdown Menu */
.dropdown-menu > li {
  color: #212529;
  font-weight: 400;
  padding: 0 0 0 1em;
  transition: background-color 0.2s ease-in-out 0s;
}

.dropdown-menu > li:focus,
.dropdown-menu > li:hover {
  color: #f5f5f5;
  text-decoration: none;
  background-color: #999;
}

.dropdown-menu > li > a {
  color: #444;
  display: block;
  padding: 0.425em 5em 0.425em 0;
}

.dropdown-menu > li > a:hover,
#navbar .navbar-nav .dropdown-menu li a:hover {
  background: transparent;
  color: #f5f5f5;
}

.dropdown-menu > li > a:focus,
#navbar .navbar-nav .dropdown-menu li a:focus {
  background: transparent;
}

.cc_sort_controls .dropdown-menu > li {
  padding-left: 0;
}

/****************************************************************************
6.4 - Carousel/Slider */
.cc_slider {
  background: #6d247d;
}

.splash-promo-Desktop br {
  display: none;
}

.cc_home_slider .carousel {
  position: relative;
}

.carousel-indicators li:only-child {
  display: none;
}

/*--- HIDE CAROUSEL CONTROLS ---*/
.carousel-control {
  display: none;
}

/****************************************************************************
6.5 - Product List Page */

/*--- PLP CONTROLS ---*/
.cc_controls_panel {
  background: transparent;
  border: none;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cc_controls_panel .panel-body {
  padding: 15px 0;
}

/*--- PRODUCT IMAGES ---*/
@media only screen and (max-width: 767px) {
  .cc_grid_container {
    padding: 0 15px;
  }
}

.cc_list_footer {
  padding: 0 15px 15px 15px;
}

.cc_grid_image_container a img {
  padding-top: 15px;
}

.cc_product_grid_actions {
  padding: 0 9px;
}

@media only screen and (min-width: 992px) {
  .cc_grid_item .thumbnail {
    min-height: 49.5rem;
  }

  .cc_grid_item .cc_price_container.cc_grid_price_info.caption {
    min-height: 8rem;
  }

  .cc_grid_product_info .cc_product_link {
    min-height: 3rem;
  }

  .cc_grid_image_container {
    float: none;
  }

  .cc_grid_image_container a img {
    display: block;
    height: 120px;
    max-width: 100%;
  }
  @supports (object-fit: contain) {
    .cc_grid_image_container a img {
      object-fit: contain;
      width: 100%;
    }
  }
}

/****************************************************************************
6.6 - Cart */

.cart-links {
  margin-bottom: 10px;
}

/****************************************************************************
6.7 - Checkout */

/*--- One Step Checkout ---*/

/* removed padding for container */
.container-fluid.container-onestep {
  padding: 0;
}

/* hide step navigation buttons for each step */
.container-onestep .link_button {
  display: none;
}
.container-onestep .processBack {
  display: none;
}
.container-onestep .makePOPayment {
  display: none;
}

/* hide order review section that display Buyer info, Address info, etc. */
.container-onestep .cc_order_review {
  display: none;
}

/* force Order Review header to behave as interactive element */
.container-onestep .container-order-review .panel-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container-onestep .container-order-review .panel-title:focus,
.container-onestep .container-order-review .panel-title:active {
  text-decoration: underline;
}

.container-onestep .container-user-info form .shippingAddress1,
.container-onestep .container-user-info form .shippingAddress2,
.container-onestep .container-user-info form .billingAddress1,
.container-onestep .container-user-info form .billingAddress2 {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .cc_checkout_review h3 {
    position: relative;
  }

  .cc_checkout_review h3:after {
    content: "\f0d7";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    position: absolute;
    right: 0;
    text-rendering: auto;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/*--- force user info fields to be two columns for medium layout. ---*/
@media (min-width: 992px) {
  .container-onestep .container-user-info form .form-group {
    float: left;
    width: 50%;
  }

  .container-onestep .container-user-info form .form-group,
  .container-onestep
    .container-user-info
    form
    .form-group
    + .form-group
    + .form-group,
  .container-onestep
    .container-user-info
    form
    .form-group
    + .form-group
    + .form-group
    + .form-group
    + .form-group {
    padding-right: 15px;
  }

  /* force Order Review header to behave as interactive element */
  .container-onestep .container-order-review .panel-title:hover,
  .container-onestep .container-order-review .panel-title:focus,
  .container-onestep .container-order-review .panel-title:active {
    cursor: initial;
    text-decoration: none;
  }

  .container-onestep .container-order-review .panel-body.collapse {
    display: block;
    height: auto !important;
  }
}

/*--- PAYMENT PANELS ---*/
.paymentTypeContainer .panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.paymentTypeContainer .panel .panel-heading,
.paymentTypeContainer .panel .panel-body {
    padding: 10px 0;
}

/*--- CREDIT CARD PAYMENT ---*/
.card-number-wrapper {
  position: relative;
}
.card-number-wrapper:after {
  content: "";
  position: absolute;
  right: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/credit.png");
  background-size: contain;
  width: 48px;
  height: 30px;
  top: 2px;
}
.card-number-wrapper[data-type="visa"]:after {
  background-image: url("../images/payment-types.png");
  background-size: auto;
  background-position: -162px -110px;
}
.card-number-wrapper[data-type="mastercard"]:after {
  background-image: url("../images/payment-types.png");
  background-size: auto;
  background-position: -295px -110px;
}
.card-number-wrapper[data-type="amex"]:after {
  background-image: url("../images/payment-types.png");
  background-size: auto;
  background-position: -230px -15px;
}
.card-number-wrapper[data-type="discover"]:after {
  background-image: url("../images/payment-types.png");
  background-size: auto;
  background-position: -95px -110px;
}

/****************************************************************************
7.0 - Footer */
