<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false" applyHtmlTag="false">
    <script id="PaymentCC-Both" type="text/template">
      <div class="panel panel-default cc_panel cc_payment_cc">
        <div class="panel-heading cc_heading">
            <h3 class="panel-title cc_title">{{pageLabelMap 'Credit Card'}}</h3>
        </div>
        <div class="panel-body">
            <div class="ccPayment-messagingSection-Error" style="display: none"></div>
            <form id="newWalletCCForm" class="form-horizontal newCCForm cc_form-horizontal cc_new_cc_form" forceSSL="true">
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="accountName">{{pageLabelMap 'CheckOut_CCCardholderName'}}</label>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="accountName" name="accountName" />
                    </div>
                </div>
                <div class="form-group hide">
                    <div class="col-md-12">
                        <label for="paymentType">{{pageLabelMap 'CheckOut_CCCardType'}}</label>
                    </div>
                    <div class="col-md-12">
                        <select id="paymentType" name="paymentType" class="form-control">
                            <option value="">{{pageLabelMap 'PMTCC_CCType'}}</option>
                            <option value="{{pageLabelMap 'PaymentType_Visa'}}">{{pageLabelMap 'PaymentType_Visa'}}</option>
                            <option value="{{pageLabelMap 'PaymentType_MasterCard'}}">{{pageLabelMap 'PaymentType_MasterCard'}}</option>
                            <option value="{{pageLabelMap 'PaymentType_AmericanExpress'}}">{{pageLabelMap 'PaymentType_AmericanExpress'}}</option>
                            <option value="{{pageLabelMap 'PaymentType_Discover'}}">{{pageLabelMap 'PaymentType_Discover'}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="accountNumber">{{pageLabelMap 'CheckOut_CCCardNumber'}}</label>
                    </div>
                    <div class="col-md-12 card-number-wrapper">
                        <input type="tel" class="form-control numeric" id="accountNumber" name="accountNumber" maxlength="16" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="ccCode">{{pageLabelMap 'CheckOut_CCCardCVV'}}</label>
                    </div>
                    <div class="col-md-12">
                        <input type="tel" class="form-control numeric" id="ccCode" name="ccCode" maxlength="3" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="ccExpirationDate">{{pageLabelMap 'CheckOut_CCExpirationDate'}}</label>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="ccExpirationDate" name="ccExpirationDate" maxlength="5" pattern="([0-9]{2}[/]?){2}" />
                </div>
            </form>
        </div>
    </script>

    <script>
        $.getScript(CCRZ.pagevars.themeBaseURL + 'js/paymentCreditCard.js').done(function () {
            // loaded!
        });
    </script>
</apex:page>