<!--
Page Include for B2B Commerce Checkout page that sets up One Step Checkout view
Bryan Anderson - Magnet360 - 2019/06/06
Developed on B2B Commerce 4.10
-->
<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false" applyHtmlTag="false">
    <!-- One Column -->
    <c:cc_OneStepCheckout_OneColumn />

    <!-- Two Column -->
    <c:cc_OneStepCheckout_TwoColumn />

    <script id="CheckoutHeader-Empty-Desktop" type="text/template">
        <!-- INTENTIONALLY LEFT EMPTY -->
    </script>

    <script>
        $.getScript(CCRZ.pagevars.themeBaseURL + 'js/oneStepCheckout.js').done(function () {
            // loaded!
        });
    </script>
</apex:page>